@using OnShop.Web.Models
@model BlogViewModel
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">صفحه اصلی</a></li>
                        @if (string.IsNullOrWhiteSpace(Model.Title))
                        {
                            <li>وبلاگ</li>
                        }
                        else
                        {
                            <li><a href="/Blog">وبلاگ</a></li>
                            <li>@Model.Title</li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog_page_section mt-23">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog_wrapper">
                    @if (!string.IsNullOrWhiteSpace(Model.SearchKey))
                    {
                        <div class="alert alert-info">جستجو برای : @Model.SearchKey </div>
                    }

                    @if (Model.Categorires?.Any() == true)
                    {
                        foreach (var item in Model.Categorires)
                        {
                            <div class="single_blog">
                                <div class="blog_content">
                                    <h3><a href="/blog/category/@(item.Id)">@(item.Title)</a></h3>
                                </div>
                            </div>
                        }
                    }
                    @if (Model.Posts?.Any() == true)
                    {
                        @foreach (var post in Model.Posts)
                        {
                            <div class="single_blog">
                                <div class="blog_thumb">
                                    <a href="/blog/@(post.Id)"><img src="@(post.Image)" width="356" height="244" alt=""></a>
                                </div>
                                <div class="blog_content">
                                    <h3><a href="/blog/@(post.Id)"><marker key="@(Model.SearchKey)" value="@post.Title"></marker></a></h3>
                                    <div class="blog_meta">
                                        <span class="post_date"><i class="fa-calendar fa"></i> @post.CreateDate.ToPersian("yyyy-MM-dd")</span>
                                        <span class="author"><i class="fa fa-user-circle"></i> پست شده توسط  @(post.BloggerName)</span>

                                        @if (!string.IsNullOrWhiteSpace(post.CategoryTitle))
                                        {
                                            <span class="category">
                                                <i class="fa fa-folder-open"></i>
                                                <a href="/Blog/Category/@(post.CategoryId)"> @(post.CategoryTitle)</a>
                                            </span>
                                        }

                                    </div>
                                    <div class="blog_desc">
                                        <p class="text-justify"><marker key="@(Model.SearchKey)" value="@post.Description"></marker></p>
                                    </div>
                                    <div class="readmore_button">
                                        <a href="/blog/@(post.Id)">ادامه مطلب</a>
                                    </div>
                                </div>
                            </div>
                        }

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog_pagination">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="pagination">
                    <ul>
                        <li class="current">1</li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="next"><a href="#">بعدی</a></li>
                        <li><a href="#">>></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

