@inject IResourceManager _resourceManager
@model List<OnShop.Domain.User.Dtos.UserAddresses.UserAddressDto>
@{
    ViewData["Title"] = _resourceManager[SharedResource.Address];
}
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">@_resourceManager[SharedResource.HomePage]</a></li>
                        <li><a href="#">@_resourceManager[SharedResource.Panel]</a></li>
                        <li>@_resourceManager[SharedResource.AccountInfo]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <partial name="_sidebar" />
                <div class="col-sm-12 col-md-9 col-lg-9">

                    <div class="tab-content dashboard_content">
                        <div class="tab-pane show active" id="account-details">
                            <h3>
                                <a class="btn btn-outline-success" href="~/Panel/profile/AddAddresses">
                                    <span class="fa fa-plus-circle"></span>
                                    @_resourceManager[SharedResource.Add]
                                </a>
                            </h3>
                            <div class="login">
                                <div class="login_form_container">
                                    <div class="account_login_form">
                                        <div class="tab-pane" id="downloads">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>منطقه</th>
                                                            <th>آدرس</th>
                                                            <th>کد پستی</th>
                                                            <th>عملیات</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model)
                                                        {
                                                            <tr>
                                                                <td>@($"{item.ZoneName} | {item.ProvinceName} | {item.DistrictName}")</td>
                                                                <td>@item.PostalAddress</td>
                                                                <td>@item.PostCode</td>
                                                                <td>
                                                                    <a onclick="Delete(@item.Id)"><i class="fa fa-trash-o"></i></a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $('document').ready(function () {
            $("a").removeClass("active");
            $("#userAddress").addClass("active");

        });
        

        function Delete(id) {
            DeleteSiteItem("/panel/profile/RemoveAddress", id, ".login");
        }

    </script>

}
